### Logistic Regression

In [56]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
sns.set()  #if you want to use seaborn themes with matplotlib functions
import warnings
warnings.filterwarnings('ignore')

In [57]:
rand_state= 1000

In [58]:
df = pd.read_csv('https://raw.githubusercontent.com/PJalgotrader/Machine_Learning-USU/main/data/Default.csv')

In [59]:
df.head()

  default student      balance       income
0      No      No   729.526495  44361.62500
1      No     Yes   817.180407  12106.13470
2      No      No  1073.549164  31767.13895
3      No      No   529.250605  35704.49394
4      No      No   785.655883  38463.49588

In [60]:
df['default'].values

array(['No', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   default  10000 non-null  object
 1   student  10000 non-null  object
 2   balance  10000 non-null  float64
 3   income   10000 non-null  float64
dtypes: float64(2), object(2)
memory usage: 312.6+ KB

In [62]:
# looking at the target variable with proportion 
pd.crosstab(df['default'], df['default'], normalize='all')

default      No     Yes
default
No       0.9667  0.0000
Yes      0.0000  0.0333

### Data Processing

In [63]:
# checking for missing values 
df.isna().sum()

default    0
student    0
balance    0
income     0
dtype: int64

In [64]:
df = pd.get_dummies(df, drop_first=True,   dtype='int64')

In [65]:
df

          balance       income  default_Yes  student_Yes
0      729.526495  44361.62500            0            0
1      817.180407  12106.13470            0            1
2     1073.549164  31767.13895            0            0
3      529.250605  35704.49394            0            0
4      785.655883  38463.49588            0            0
...           ...          ...          ...          ...
9995   711.555020  52992.37891            0            0
9996   757.962918  19660.72177            0            0
9997   845.411989  58636.15698            0            0
9998  1569.009053  36669.11236            0            0
9999   200.922183  16862.95232            0            1

[10000 rows x 4 columns]

In [67]:
df.columns

Index(['balance', 'income', 'default_Yes', 'student_Yes'], dtype='object')

In [68]:
df.columns = ['balance','income', 'default', 'studnet']

In [69]:
df

          balance       income  default  studnet
0      729.526495  44361.62500        0        0
1      817.180407  12106.13470        0        1
2     1073.549164  31767.13895        0        0
3      529.250605  35704.49394        0        0
4      785.655883  38463.49588        0        0
...           ...          ...      ...      ...
9995   711.555020  52992.37891        0        0
9996   757.962918  19660.72177        0        0
9997   845.411989  58636.15698        0        0
9998  1569.009053  36669.11236        0        0
9999   200.922183  16862.95232        0        1

[10000 rows x 4 columns]

In [70]:
df.describe()

            balance        income       default       studnet
count  10000.000000  10000.000000  10000.000000  10000.000000
mean     835.374886  33516.981876      0.033300      0.294400
std      483.714985  13336.639563      0.179428      0.455795
min        0.000000    771.967729      0.000000      0.000000
25%      481.731105  21340.462905      0.000000      0.000000
50%      823.636973  34552.644800      0.000000      0.000000
75%     1166.308387  43807.729275      0.000000      1.000000
max     2654.322576  73554.233500      1.000000      1.000000

### Defining the variables and splittibg the data

In [75]:
y = df['default']
X = df.drop('default', axis=1)

In [76]:
y

0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: default, Length: 10000, dtype: int64

In [77]:
X

          balance       income  studnet
0      729.526495  44361.62500        0
1      817.180407  12106.13470        1
2     1073.549164  31767.13895        0
3      529.250605  35704.49394        0
4      785.655883  38463.49588        0
...           ...          ...      ...
9995   711.555020  52992.37891        0
9996   757.962918  19660.72177        0
9997   845.411989  58636.15698        0
9998  1569.009053  36669.11236        0
9999   200.922183  16862.95232        1

[10000 rows x 3 columns]

In [78]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state= rand_state)

In [79]:
X_train

          balance       income  studnet
5697   380.173508  37395.71893        0
615   1052.393260  37637.65931        0
2733   813.494838  16681.35030        1
5961     0.000000  56610.23650        0
7039  1167.349090  16356.93057        1
...           ...          ...      ...
2398  1046.416673  47598.30737        0
3776   664.511520  47878.83383        0
6215     0.000000  41960.17450        0
4695   203.300081  53055.69443        0
9651  1170.911536  19473.69193        1

[8000 rows x 3 columns]

In [80]:
y_train

5697    0
615     0
2733    0
5961    0
7039    0
       ..
2398    0
3776    0
6215    0
4695    0
9651    0
Name: default, Length: 8000, dtype: int64

### Logistic Regression

In [81]:
from sklearn.linear_model import LogisticRegression

In [ ]:
# Fitting the test
log